@page
@model AirportWebRazor.Pages.AirPort.IndexModel
@{
}



<div class="row">
    <div class="col-2"><h4 class="text-right text-info"> لیست هواپیما ها</h4></div>
    <div class="col-2"></div>
    <div class="col-2">
        <a asp-page="Create" class="btn btn-info form-control text-white"> ثبت هواپیمای  </a>
    </div>

</div>
<form method="post" id="grid-option">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">لیست موارد ثبت شده</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th> نام  </th>
                                        <th> آدرس  </th>
                                        <th> یوارال </th>
                                        <th> گالری </th>
                                        <th> کد فرودگاه </th>
                                        <th> حرف اختصاری </th>
                                        <th> تاریخ ثبت</th>
                                        <th> تاریخ آخرین بروز رسانی</th>
                                        <th>عملیات</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @{
                                        var addrress = ViewData["address"] as List<AirPortModel.Models.Address>;
                                        var cities = ViewData["City"] as List<AirPortModel.Models.City>;
                                        var gallerys = ViewData["Gallery"] as List<AirPortModel.Models.Gallery>;
                                        var galleryimages = ViewData["GalleryImage"] as List<AirPortModel.Models.GalleryImage>;
                                        var Airportes = ViewData["airport"] as List<AirPortModel.Models.AirPort>;

                                        @foreach (var item in Model.airPorts)
                                        {
                                            <tr>
                                                <td>@item.Name</td>
                                                <td>@item.Adress.City.Name</td>
                                                <td>@item.Url</td>
                                                <td>@gallerys.FirstOrDefault(x => x.Id.Equals(item.GalleryId)).Name</td>
                                                <td>@item.Code</td>
                                                <td>@item.Abbreviation</td>
                                                <td>@item.DateCreate</td>
                                                <td>@item.LastUpdate</td>
                                                <td>
                                                    <button type="submit" onclick="return confirm('آیا اطمینان دارید')" class="btn btn-danger btn-sm" value="@item.Id" name="id">حذف</button>
                                                    <a class="btn btn-success btn-sm text-white">به روز رسانی</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>