@page
@model AirportWebRazor.Pages.Tutorial.EditModel
@{
}
<h1 class="text text-center text-info"> بروزرسانی آموزش</h1>

<div class="row match-height">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-info">
                    <h4 class="card-title" id="basic-layout-round-controls"> به روزرسانی</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="px-3">

                    <form class="form" enctype="multipart/form-data" method="post">

                        <input type="hidden" name="Id" value="@Model.linkesobj.Id" />
                        <input type="hidden" name="IsDelete" value="@Model.linkesobj.IsDelete" />
                        <input type="hidden" name="DateCreate" value="@Model.linkesobj.DateCreate" />
                        <input type="hidden" name="LastUpdate" value="@Model.linkesobj.LastUpdate" />
                        <div class="form-body">

                            <div class="form-group">
                                <label for="complaintinput1">  عنوان مقاله </label>
                                <input type="text" id="complaintinput1" class="form-control round" name="Title" value="@Model.linkesobj.Title" />
                            </div>
                            <div class="form-group">
                                <label for="complaintinput1">توضیحات مقاله</label>
                                <input type="text" id="complaintinput1" class="form-control round" name="Url" value="@Model.linkesobj.Url" />
                            </div>
                            <div class="form-group">
                                <label>فایل را انتخاب کنید</label>
                                <input type="file" name="Icon" class="form-control-file" id="projectinput7">
                            </div>

                            <div class="form-group">
                                <label for="complaintinput1">توضیحات مقاله</label>
                                <input type="text" id="complaintinput1" class="form-control round" name="Description" value="@Model.linkesobj.Description" />
                            </div>

                            <div class="form-group">
                                <label>فایل عکس را انتخاب کنید</label>
                                <input type="file" class="form-control-file" name="images" id="projectinput7">
                            </div>
                        </div>

                        <div class="form-actions">
                            <a asp-page="index" type="button" class="btn btn-danger mr-1">
                                <i class="icon-trash"></i> لغو
                            </a>
                            <button type="submit" class="btn btn-success">
                                <i class="icon-note"></i> ذخیره
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>