@page
@model AirportWebRazor.Pages.Entertainment.IndexModel
@{

    <div class="col-10">
        <table>
            <thead>
                <tr>
                    <td>
                        Id
                    </td>
                    <td>
                        Type
                    </td>
                    <td>
                        Name
                    </td>
                    <td>
                        LId
                    </td>
                    <td>
                        Galleryid
                    </td>
                    <td>
                        Title
                    </td>
                    <td>
                        Description
                    </td>
                    <td>
                        DateCreate
                    </td>
                    <td>
                        LastUpdate
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.entertainments)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Type</td>
                        <td>@item.Name</td>
                        <td>@item.LId</td>
                        <td>@item.Galleryid</td>
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                        <td>@item.DateCreate</td>
                        <td>@item.LastUpdate</td>
              
                    </tr>
                }

            </tbody>
        </table>
    </div>
}
