@page
@model AirportWebRazor.Pages.Raiting.IndexModel
@{
}
<br />

<h4 class="text-right text-info"> لیست امتیازات</h4>


<form method="post" id="grid-option">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">لیست موارد ثبت شده</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>نام کاربر</th>
                                        <th>مقدار جزیات</th>
                                        <th>مقدار</th>
                                        <th>نظر کاربر</th>
                                        <th> تاریخ ثبت</th>
                                        <th> تاریخ آخرین بروز رسانی</th>
                                        <th>عملیات</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @{
                                        var customeres1 = ViewData["Customers"] as List<AirPortModel.Models.Customer>;
                                        var detailes1 = ViewData["Detailes"] as List<AirPortModel.Models.Detail>;


                                        @foreach (var item in Model.raitings)
                                        {
                                            <tr>
                                                <td>@customeres1.FirstOrDefault(x => x.Id.Equals(item.CustomerId)).Name</td>
                                                <td>@detailes1.FirstOrDefault(x => x.Id.Equals(item.detailid)).detailValues</td>
                                                <td>@item.Value</td>
                                                <td>@item.CommentText</td>
                                                <td>@item.DateCreate</td>
                                                <td>@item.LastUpdate</td>
                                                <td>
                                                    <button type="submit" onclick="return confirm('آیا اطمینان دارید')" class="btn btn-danger btn-sm" value="@item.Id" name="id">حذف</button>
                                                    <a class="btn btn-success btn-sm text-white">به روز رسانی</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>