@page
@model AirportWebRazor.Pages.Requests.RequestHotel.IndexModel
@{
}
<br />
<h1 class="text text-info text-center">درخواست ها</h1>
<form method="post" id="grid-option">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">لیست درخواست</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th> نام درخواست </th>
                                        <th> عنوان درخواست </th>
                                        <th> توضیحات درخواست </th>
                                        <th> نام مشتری </th>
                                        <th> تاریخ ثبت</th>
                                        <th> تاریخ آخرین بروز رسانی</th>
                                        <th>عملیات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var Requesttypes = ViewData["Requesttypes"] as List<AirPortModel.Models.RequestType>;
                                        var Customers = ViewData["Customer"] as List<AirPortModel.Models.Customer>;

                                        foreach (var item in Model.requestsobj.Where(x => x.requests.Id.Equals(1)))
                                        {
                                            <tr>
                                                <td>@Requesttypes.FirstOrDefault(x => x.Id.Equals(1)).Name</td>
                                                <td>@item.Title</td>
                                                <td>@item.Description</td>
                                                <td>@Customers.FirstOrDefault(x => x.Id.Equals(item.CustomerId)).Name</td>
                                                <td>@item.DateCreate</td>
                                                <td>@item.LastUpdate</td>
                                                <td>
                                                    <button type="submit" onclick="return confirm('آیا اطمینان دارید')" class="btn btn-danger btn-sm" value="@item.Id" name="id">حذف</button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
