@page
@model AirportWebRazor.Pages.AirPlane.IndexModel
@{
}
<br />



<div class="row">

    <div class="col-4"><h4 class="text-right text-info"> لیست هواپیما ها</h4></div>
    <div class="col-4"></div>
    <div class="col-4">
        <a asp-page="Create" class="btn btn-info form-control text-white"> افزودن هواپیما </a>
    </div>

</div>
<form method="post" id="grid-option">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">لیست هواپیما های ثبت شده</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th> نام  </th>
                                        <th> مدل  </th>
                                        <th> کد  </th>
                                        <th> برند  </th>
                                        <th> عکس  </th>
                                        <th> اطلاعات  </th>
                                        <th> نام ایرلاین </th>
                                        <th> تاریخ ثبت</th>
                                        <th> تاریخ آخرین بروز رسانی</th>
                                        <th>عملیات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.airPlanes)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.Model</td>
                                            <td>@item.AirPlaneCode</td>
                                            <td>@item.BrandId</td>
                                            <td><a href="/Galleryimage/index#?id=item.GalleryId)" >مشاهده</a></td>
                                            <td>@item.DetailId</td>
                                            <td>@item.AirlineId</td>
                                            <td>@item.DateCreate</td>
                                            <td>@item.LastUpdate</td>
                                            <td>
                                                <button type="submit" onclick="return confirm('آیا اطمینان دارید')" class="btn btn-danger btn-sm" value="@item.Id" name="id">حذف</button>
                                                <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm text-white">به روز رسانی</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>