@page
@model AirportWebRazor.Pages.Entertainment.Book.BookListModel
@{
    <br />
    <br />

    <h1 class="text-center text-info"> لیست دسته بندی ها</h1>

    <section id="grid-option">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title-wrap bar-success">
                            <h4 class="card-title">لیست دسته بندی ها</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <!-- <th> Categori Id</th>-->
                                            <th> نوع سرگرمی</th>
                                            <th> نام سرگرمی</th>
                                            <th> ایدی لینک</th>
                                            <th> ایدی گالری</th>
                                            <th> عنوان</th>
                                            <th> توضیحات</th>
                                            <th> تاریخ ثبت</th>
                                            <th> تاریخ آخرین بروز رسانی</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.entertainments)
                                        {
                                            <tr>
                                                <!--<th class="text-nowrap" scope="row">رفتار گرید</th>-->
                                                @if (true)
                                                {
                                                    <td>@item.Type</td>
                                                    <td>@item.Name</td>
                                                    <td><a src="@item.LId">@item.LId</a></td>
                                                    <td><img src=" @item.Galleryid" /></td>
                                                    <td>@item.Title</td>
                                                    <td>@item.Description</td>
                                                    <td>@item.DateCreate</td>
                                                    <td>@item.LastUpdate</td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
}
