@page
@model AirportWebRazor.Pages.Customer.IndexModel
@{
}



<div class="row">
    <div class="col-4"><h4 class="text-right text-info"> لیست انواع جزیات</h4></div>
    <div class="col-4"></div>
    <div class="col-4">
        <a asp-page="Create" class="btn btn-info form-control text-white">ثبت ویژگی جدید</a>
    </div>

</div>
<form method="post" id="grid-option">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">لیست جزیات</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th> نام  </th>
                                        <th> نام خانوادگی  </th>
                                        <th> تاریخ تولد  </th>
                                        <th> جنسیت  </th>
                                        <th> تلفن تماس  </th>
                                        <th> عکس پروفایل  </th>
                                        <th> ایمیل  </th>
                                        <th> تاریخ ثبت</th>
                                        <th> تاریخ آخرین بروز رسانی</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.customers)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.LastName</td>
                                            <td>@item.BDate</td>
                                            <td>@item.Sex</td>
                                            <td>@item.Mobile</td>
                                            <td>@item.ProfileImage</td>
                                            <td>@item.Email</td>
                                            <td>@item.DateCreate</td>
                                            <td>@item.LastUpdate</td>
                                          
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>